.login-page {
  height: calc(100% + 60px);
  width: 100vw;
}

.page-content {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.login-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-primary);
  color: #fff;
}

.home-link {
  position: fixed;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  color: var(--color-support-dark);
  font-size: 28px;
  background-color: var(--color-default);
  border: 3px solid var(--color-support-dark);
  border-radius: 50%;
  transition: all 1s;
}

.home-link:hover {
  color: var(--color-default);
  background-color: var(--color-support-dark);
  border: 3px solid var(--color-default);
}

h2.login-title {
  font-weight: bolder;
  font-size: 40px;
}

p.login-description {
  width: 70%;
  text-align: center;
}

.social-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.facebook-circle {
  display: flex;
  background-color: #0476e8;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.fa-facebook-f {
  color: #fff;
}

.google-circle {
  display: flex;
  background-color: #ab0a16;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.fa-google {
  color: #fff;
}

.or-title {
  width: 80%;
  text-align: center;
  border-bottom: 1px solid #13997d;
  line-height: 0.03em;
  margin: 40px 0 10px;
}

.or-title span {
  background: #fff;
  padding: 0 10px;
}

.email-login {
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input.register {
  border-radius: 25px;
  margin-top: 20px;
  width: 80%;
  background-color: var(--color-default);
  border: 2px solid var(--color-secondary);
  padding: 15px;
  transition: all 1s;
}

input:focus.register {
  outline: none !important;
  border-color: var(--color-support-dark);
  box-shadow: 0 10px 10px var(--color-secondary);
}

button[type='submit']:focus {
  outline: none !important;
  border-color: var(--color-primary);
  box-shadow: 0 10px 10px var(--color-secondary);
  background-color: #fff;
  color: var(--color-primary);
  filter: brightness(90%);
}

.register-side {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
}

.btn-login {
  background-color: var(--color-support);
  box-shadow: 2px 2px 2px var(--color-secondary);
  color: var(--color-primary);
  font-size: 14px;
}

.btn-login:hover {
  background-color: var(--color-support-dark) !important;
  color: #fff;
  border-color: var(--color-default) !important;
  box-shadow: 2px 2px 2px var(--color-secondary);
}
